.cook {
	padding: 1rem;
	text-align: center;
	font-family: "Dancing Script", cursive;
	font-size: 2rem;
	font-weight: 700;
	font-style: normal;
	margin: 10px 0 0;
}
/*---- categories--- */
.category-caroual{
	margin: 20px auto;
	width: 80%;
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}
.categories-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 30px 20px;
}

.category {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: transform 0.3s ease;
	cursor: pointer;
    position: relative;
}

.category:hover {
	transform: scale(1.05);
}

.category-img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	margin-bottom: 10px;
}

.category-name {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	color: #000;
} 
