/* -------------------- WRAPPER -------------------- */

.meals_top {
    background-color: rgba(245, 243, 243, 0.831);
    padding: 1rem 0;
}

/* -------------------- HEADER -------------------- */

.top_header {
    padding: 1rem;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0 0;
}

/* -------------------- CAROUSEL -------------------- */

.carousel {
    margin: 20px auto;
    width: 90%;
    height: 23rem;
    overflow: hidden;
    position: relative;
}

/* -------------------- TRACK (ANIMATED) -------------------- */

.track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.track:hover {
    animation-play-state: paused;
}

/* -------------------- GROUP -------------------- */

.group {
    display: flex;
    gap: 1rem;
}
.group-dup {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
}
/* -------------------- CARD -------------------- */
.card {
    flex: 0 0 15rem;
    height: 20rem;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    overflow: visible; 
}
.card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    border-radius: 1rem;  
    display: block;
}
/* -------------------- BUTTON -------------------- */

.btn {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #76582a;
    color: #ffffff;
    padding: 6px 20px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #e6c68a;
    color: #fff;
}

/* -------------------- LOADING SKELETON -------------------- */

.skeleton {
    background-color: #e5e5e5;
    animation: pulse 1.4s infinite ease-in-out;
}

.skeleton-img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

/* -------------------- ANIMATION -------------------- */

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* -------------------- RESPONSIVE -------------------- */

@media (max-width: 717px) {

    .carousel {
        height: 17rem;
    }

    .card {
        flex: 0 0 10rem;
        height: 15rem;
    }

    .track {
        animation-duration: 30s;
    }
}
